<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>写文章</title>
    <%- include('header', {}); %>
</head>
<style>
    body{
      background: url("../img/timg22.jpg")  no-repeat center center fixed;
      background-size: cover; 
    }
    .write {
        margin-top: 10px;
        opacity: 0.8;
    }
    .layui-form-label{
      color: rgb(102, 102, 102);
    }
    .ck-content{
      height: 380px;
    }
    .layui-card-body{
      color: white;
    }
</style>
<script src="../libs/layui/ckeditor5-build-classic/ckeditor.js"></script>
<body>
  <!-- 导航栏 -->
  <%- include('nav', {}); %>   
  <!-- 导航栏end -->
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-md12">
                
                <!-- 写文章 -->
                <div class="write">
                    <form class="layui-form layui-form-pane" action="/write/add" method="POST">
                        <div class="layui-form-item">
                          <label class="layui-form-label">输入框</label>
                          <div class="layui-input-block">
                            <input type="hidden" name="id" value="<%= data._id %>">
                            <input type="hidden" name="page" value="<%= data.page %>">
                            <input type="text" name="title" value="<%= data.title %>" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                        <%if(data._id){ %>
                        <div class="layui-card-body">
                          <b>用户:<%= data.name %></b>
                          <b>发布时间:<%= data.times %></b>
                      </div>
                      <%}%>
                        <div class="layui-form-item layui-form-text">
                          <label class="layui-form-label">文本域</label>
                          <div class="layui-input-block">
                            <textarea  rows="20" id="editor" name="desc" placeholder="请输入内容" class="layui-textarea"><%- data.desc %></textarea>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <div class="layui-input-block">
                            <%if(!data._id){ %>
                            <button class="layui-btn" lay-submit lay-filter="formDemo">发布</button>
                            <%}else{%>
                            <button type="submit" class="layui-btn layui-btn-primary">确认修改</button>
                            <%}%>
                          </div>
                        </div>
                      </form>
                </div>
                <!-- 文章end -->
            </div>
        </div>
    </div>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;

            //…
        });


//文本域
    ClassicEditor
        .create( document.querySelector( '#editor' ),{
          ckfinder:{
            uploadUrl:'/write/upload'
          }
        } )
        .catch( error => {
            console.error( error );
        } );


    </script>
</body>

</html>